

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
header {
    background-color: #eee;
    display: flow-root;
    margin: 0;

}
header h1 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
    padding: 1rem;
    margin: 0 auto;
}
header img {
    width: 4rem;
    height:auto;
    float: left;
    margin-left: 3%;
}
nav {
    background-color: #eee;
    margin: 0;
}

nav li {
    position: relative;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 2%;
    background-color: rgb(170, 169, 169);
    color: rgb(61, 60, 60);
    margin: 1%;

}
nav a:hover {
    background-color: rgb(97, 96, 96);
}
.link2 {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.lenyit:hover .link2 {
    display: block;
}
.link2 a {
    background-color: rgb(181, 179, 179);
    padding-left: 30px;
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}
main {
    padding: 1rem;
    line-height: 1.2;
    text-align: justify;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
main h2 {
    text-align: left;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
main h3 {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.hogymukodik ol {
    margin-left: 2rem;
    line-height: 1.2;
}
.miertmi ul {
    margin-left: 2rem;
    line-height: 1.2;
}
main p {
    margin-top: 1.2rem;
    line-height: 1.2;
}
aside h3 {
    text-align: left;
    font-size: 1.1rem;
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
aside div {
    border: 3px dotted black;
    border-radius: 10px;
    text-align: left;
    line-height: 1.2;
    margin: 0 1rem 1rem 1rem;
    padding: 0.3rem;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #999;
    height: 80px;
    padding: 1rem 0;

}
footer p {
    padding: 0;
    margin: 0.2rem;
}
.corvette {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.kocsi {
    background-color: black;
}
.redline {
    border: 3px solid red;
}
.corvettecim {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.specs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    margin: 10px 15px 10px 15px;
    gap: 20px;
}
.specs figure {
    flex: 0 0 45%;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.specs img {
    width: 110px;
    height: auto;
    margin-bottom: 8px;
    margin-top: 20px;
}
.specs figcaption {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}
.leiras {
    margin-top: 20px;
    padding: 1rem;
    line-height: 1.2;
    text-align: justify;
    margin: 0 auto;
    font-size: 1rem;
}
.leiras p {
    padding: 1rem;
    margin-bottom: 5px;
}
/*külön az űrlap css kódja*/

#teljesform {
    width: 98%;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    
}
#kalkulacio {
    background-color: rgb(21, 21, 93);
    width: 98%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;

}
.rejtett {
    display: none;
}
#auto, #csomag, #palya, #kisero, #kamera, #kedvezmeny {
    margin-bottom: 15px;
}
.kalk {
    font-weight: bold;
}
form h2 {
    text-align: center;
    margin-bottom: 20px;
}
form p {
    margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form_radio label, .form_jogsi, .formcheckbox label {
    display: inline; 
    font-weight: normal; 
    margin-right: 15px; 
}

input[type="radio"], input[type="checkbox"] { 
    transform: scale(1.2); 
    margin-right: 5px; 
}


.form_jogsi label {
display: block; 
font-weight: normal; 
margin: 0;

}
.form_jogsi .jogsi {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 8px;
}
.jogsi input {
    margin-top: 5px;
}
.jogsi label {
    margin-top: 5px;
}
.form_jogsi .radiocim {
    padding-bottom: 5px;
}




button { 
    width: 100%; 
    padding: 12px; 
    background-color: #000000; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background 0.3s; 
    margin-top: 20px;
}
#fokep {
    width: 80%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.gallery {
    margin-top: 15px;
    background-color: #000000;
    margin-bottom: 20px;
    width: 100%;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px;
    color: white;
}
#kovetkezo, #elozo {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    width: 30%;
    max-width: 100px;
}
#counter {
    font-size: 16px;
    color: white;
    justify-content: center;
}
#h2foto {
    text-align: center;
    margin-top: 10px;
    color: white;
}
#caption {
    text-align: center;
    margin-top: 5px;
    color: white;
    font-style: italic;
}


button:hover { 
    background-color: rgb(223, 19, 19); 
}

label { 
    display: block; 
    margin-bottom: 8px; 
    font-weight: bold; 
    color: #555; 
}

.checkboxlabel {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}
.formcheckbox label, .formcheckbox input {
    margin: 0;
}
.formresz, .form_radio {
    margin-bottom: 20px;
}
.formresz label {
    font-size: 18px;
}
div .radiocim {
    display: inline;
    font-size: 18px;
}
.error-msg { 
    color: #ab333f; 
    font-size: 0.85em; 
    margin-top: 5px; 
    height: 1.2em; 
}
input.input-error { border-color: #dc3545; background-color: #fff8f8; }

.reklam {
    margin-top: 15px;
}



@media (min-width: 45rem) {
    nav ul {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 99%;
        gap: 10px;
    }
    nav li {
        width: 100%;
        max-width: 250px;
    }
    nav a {
        display: inline-block;
        padding: 0.6rem 1.2rem 0.6rem 1.2rem;
        margin: 0 0.2rem 0 0.2rem;
        border-radius: 10px;
        width: 100%;
    }
    nav {
        background-color: #eee;
        padding-bottom: 10px;

    }
    .rolunk {
        width: 70%;
    }
    aside {
        width: 30%;
    }
     .corvette {
        display: block;
        width: 80%;
        max-width: 800px;
        height: auto;
        margin: 0 auto;
     }
     .kocsi {
        width: 100%;
     }

    .specs {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .specs figure {
        flex: 1 1 calc(33.333% - 1rem);
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pikto {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    .specs figcaption {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .flexcontainer {
        flex: 1;
    }
    .inputok {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .form_jogsi .radiocim {
        display: block;
    }
    #teljesform {
        width: 80%;
        max-width: 600px;
    }
    #kalkulacio {
        width: 80%;
        max-width: 600px;
    }

}    


@media (hover:hover) {
    figure:hover {
        transform: translateY(-5px);
    }
}
@media (min-width: 65rem) {
    .specs {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .specs figure {
        flex: 1 1 calc(16.66666% - 1rem);
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pikto {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
    .specs figcaption {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }

    body {
        line-height: 1.2;
    }
    header {
        padding: 0.5rem;
    }
}